/* .our-album {
  height: 180px;
  background-color: bisque;
}
.box {
  margin-top: 0%;
  padding: 0%;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.box button {
  text-align: center;
  background-color: bisque;
}
.our-album img {
  height: 100px;
  width: 100px;
  position: relative;
  left: 45%;
  border-radius: 50%;
} */

.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.container h2 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
}
.tour-detail {
  display: flex;
  padding: 8px;
  margin: 1rem;
  border-bottom: 1px solid#b1a296;
}
.tour-date {
  font-weight: bold;
  width: 15%;
}
.tour-place {
  width: 25%;
}
.tour-stadium {
  width: 50%;
}
.buy-tickets-btn {
  width: 140px;
  height: 30px;
  float: right;
  background-color: #b1a296;
  border: none;
  border-radius: 2px;
}
