.header-container {
  margin-top: 50px;
  text-align: center;
  background-color: bisque;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  height: 150px;
}

.header-container h1 {
  margin: auto;
  padding-top: 20px;
  font-size: 300%;
}
