.header-container {
  margin-top: 40px;
  text-align: center;
  background-color: #557a95;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  height: 120px;
  color: #adadad;
}

.header-container h1 {
  margin: auto;
  padding-top: 20px;
  font-size: 300%;
}
